@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.c1 {
  color: #fff;
}

.bg1 {
  background-color: #fff;
}

.c2 {
  color: #c4c4c4;
}

.bg2 {
  background-color: #c4c4c4;
}

.c3 {
  color: #24a3ff;
}

.bg3 {
  background-color: #24a3ff;
}

.c4 {
  color: #f0145a;
}

.bg4 {
  background-color: #f0145a;
}

.c5 {
  color: #686887;
}

.bg5 {
  background-color: #686887;
}

.c6 {
  color: #f5f5fa;
}

.bg6 {
  background-color: #f5f5fa;
}

.c7 {
  color: #b3b3ba;
}

.bg7 {
  background-color: #b3b3ba;
}

.c8 {
  color: #1c4280;
}

.bg8 {
  background-color: #1c4280;
}

.c9 {
  color: #143646;
}

.bg9 {
  background-color: #143646;
}

.c10 {
  color: #f48b30;
}

.bg10 {
  background-color: #f48b30;
}

.c11 {
  color: #9e4dc3;
}

.bg11 {
  background-color: #9e4dc3;
}

.c12 {
  color: #fd9339;
}

.bg12 {
  background-color: #fd9339;
}

.c13 {
  color: #e2e2e4;
}

.bg13 {
  background-color: #e2e2e4;
}

.c14 {
  color: #c71c36;
}

.bg14 {
  background-color: #c71c36;
}

.c15 {
  color: #dcf3f9;
}

.bg15 {
  background-color: #dcf3f9;
}

.c16 {
  color: #eaeaea;
}

.bg16 {
  background-color: #eaeaea;
}

.c17 {
  color: #282240;
}

.bg17 {
  background-color: #282240;
}

.c18 {
  color: #1d4568;
}

.bg18 {
  background-color: #1d4568;
}

.c19 {
  color: #000;
}

.bg19 {
  background-color: #000;
}

.c20 {
  color: #323264;
}

.bg20 {
  background-color: #323264;
}

.c21 {
  color: #e6e6f0;
}

.bg21 {
  background-color: #e6e6f0;
}

.gradient-wrap {
  background: linear-gradient(70deg, #643e72 6%, #323264 29%, #323264 44%, #323264 57%, #323264 75%, #7a425e 94%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.gradient-title {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-hero {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
font height -x
font-weight -y
line-height (optional) -z
@include font(x,y,z);
*/
.hero {
  font-size: 42px;
  line-height: 50px;
  font-family: "TT Norms";
  font-weight: 400;
}
.hero-mobile {
  font-size: 32px;
  line-height: 38px;
  font-family: "TT Norms";
  font-weight: 400;
}

.h2 {
  font-size: 32px;
  line-height: 38px;
  font-family: "TT Norms";
  font-weight: 400;
}
.h2-mobile {
  font-size: 22px;
  line-height: 26px;
  font-family: "TT Norms";
  font-weight: 400;
}

.h3 {
  font-size: 24px;
  line-height: 28px;
  font-family: "TT Norms";
  font-weight: 400;
}
.h3-mobile {
  font-size: 18px;
  line-height: 21px;
  font-family: "TT Norms";
  font-weight: 400;
}
.h3-caps {
  font-size: 14px;
  line-height: 17px;
  font-family: "TT Norms";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.h4 {
  font-size: 18px;
  line-height: 21px;
  font-family: "TT Norms";
  font-weight: 400;
}

.paragraph {
  font-size: 18px;
  line-height: 26px;
  font-family: "TT Norms";
  font-weight: 400;
}
.paragraph-min {
  font-size: 16px;
  line-height: 22px;
  font-family: "TT Norms";
  font-weight: 400;
}

.introduction {
  font-size: 21px;
  line-height: 30px;
  font-family: "TT Norms";
  font-weight: 400;
  color: #c4c4c4;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.ease {
  transition: all 0.3s ease;
}

.page-width {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.gradient-ico {
  background: linear-gradient(180deg, #ef8080 0%, #f0145a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rad-gradient {
  background: radial-gradient(0deg, #fff 0%, #c4c4c4 25%, #24a3ff 50%, #f0145a 75%);
}

.shadow1 {
  height: 12px;
  background-color: #cacadb;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 20px;
}
.shadow2 {
  height: 12px;
  background-color: #e7e7f2;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 40px;
}

.pattern-wrap {
  max-width: 690px;
  max-height: 645px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
.pattern-wrap .pattern {
  opacity: 0.5;
}
.pattern-wrap .p-logo {
  position: absolute;
  top: 103px;
  left: 16px;
}

.shade {
  width: 100%;
  position: relative;
  top: -200px;
}

.brdr {
  border-style: solid;
  border-width: 3px;
  border-color: red;
}

.otstup {
  height: 500px;
}

.arrow {
  display: inline-block;
  margin-left: 3px;
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-left-style: none;
  border-top-style: none;
  transform: rotate(-45deg) translateY(-2.5px);
  opacity: 0.5;
}

.header {
  display: grid;
  grid-template-columns: auto max-content max-content max-content max-content;
  grid-template-rows: auto auto;
  grid-template-areas: "logo   lang    adress   phone   facebook" "logo navigate navigate navigate navigate";
  align-items: center;
  padding-top: 56px;
}
@media (max-width: 1000px) {
  .header {
    grid-template-areas: "logo   lang    lang   phone   facebook" "logo navigate navigate navigate navigate";
  }
}
@media (max-width: 600px) {
  .header {
    grid-template-areas: "lang phone phone " "logo logo burger";
    grid-template-rows: 50px 50px;
    padding-top: 0;
  }
}
.header .logo-wrap {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header .logo-wrap .logo {
  height: 62px;
  cursor: pointer;
  z-index: 1000;
}
@media (max-width: 850px) {
  .header .logo-wrap .logo {
    height: 42px;
  }
}
@media (max-width: 475px) {
  .header .logo-wrap .logo {
    height: 33px;
  }
}
.header .logo-wrap .logo #logo_fills .fil0 {
  fill: #f78888;
}
.header .logo-wrap .logo #logo_fills .fil1 {
  fill: #f0145a;
}
.header .logo-wrap .logo #logo_fills .fil2 {
  fill: white;
}
.header .logo-wrap .page-info-wrap {
  display: none;
  font-size: 38px;
  line-height: 45px;
  font-family: "TT Norms";
  font-weight: 400;
  color: #fff;
}
@media (max-width: 850px) {
  .header .logo-wrap .page-info-wrap {
    font-size: 26px;
    line-height: 28px;
    font-family: "TT Norms";
    font-weight: 400;
  }
}
@media (max-width: 475px) {
  .header .logo-wrap .page-info-wrap {
    font-size: 19px;
    line-height: 22px;
    font-family: "TT Norms";
    font-weight: 400;
  }
}
.header .logo-wrap .page-info-wrap .slash-modify {
  padding-left: 5px;
  color: #f0145a;
  font-size: 47px;
}
@media (max-width: 850px) {
  .header .logo-wrap .page-info-wrap .slash-modify {
    font-size: 25px;
  }
}
@media (max-width: 475px) {
  .header .logo-wrap .page-info-wrap .slash-modify {
    font-size: 20px;
  }
}
.header .lang {
  grid-area: lang;
  font-size: 12px;
  line-height: 14px;
  font-family: "TT Norms";
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
}
@media (max-width: 600px) {
  .header .lang {
    justify-content: flex-start;
  }
}
.header .lang .langItem {
  padding: 5px;
  margin: 2px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}
.header .lang .active {
  background-color: #f0145a;
}
.header .adress {
  grid-area: adress;
  font-size: 16px;
  line-height: 19px;
  font-family: "TT Norms";
  font-weight: 400;
  padding-left: 20px;
  text-align: right;
  color: #fff;
}
@media (max-width: 1000px) {
  .header .adress {
    display: none;
  }
}
.header .phone {
  grid-area: phone;
  font-size: 16px;
  line-height: 19px;
  font-family: "TT Norms";
  font-weight: 700;
  padding-left: 13px;
  cursor: pointer;
  text-align: right;
  color: #fff;
}
@media (max-width: 750px) {
  .header .phone {
    font-size: 13px;
    line-height: 15px;
    font-family: "TT Norms";
    font-weight: 400;
  }
}
@media (max-width: 600px) {
  .header .phone {
    font-size: 16px;
    line-height: 19px;
    font-family: "TT Norms";
    font-weight: 400;
    color: #b3b3ba;
  }
}
.header .phone::before {
  content: "•";
  padding-right: 10px;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
}
@media (max-width: 600px) {
  .header .phone::before {
    display: none;
  }
}
.header .phone::after {
  content: "•";
  padding-left: 10px;
  font-size: 20px;
  line-height: 16px;
  color: #fff;
}
@media (max-width: 600px) {
  .header .phone::after {
    display: none;
  }
}
.header .icon-box {
  grid-area: facebook;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s ease;
  color: #fff;
}
@media (max-width: 600px) {
  .header .icon-box {
    display: none;
  }
}
.header .icon-box:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.header .icon-box:hover .icon-facebook {
  color: #24a3ff;
}
.header .icon-box .icon-facebook {
  font-size: 24px;
  line-height: 24px;
  padding-left: 10px;
}
.header .navigation {
  grid-area: navigate;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 19px;
  color: #fff;
}
@media (max-width: 600px) {
  .header .navigation {
    display: none;
  }
}
.header .navigation .item {
  font-size: 18px;
  line-height: 18px;
  font-family: "TT Norms";
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 5px;
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (max-width: 750px) {
  .header .navigation .item {
    font-size: 12px;
    line-height: 14px;
    font-family: "TT Norms";
    font-weight: 400;
  }
}
.header .navigation .item a {
  width: 100%;
  height: 100%;
  display: block;
}
.header .navigation .item:hover {
  color: #f0145a;
  border-bottom-color: #f0145a;
  transition: all 0.3s ease;
}

.burger-menu {
  grid-area: burger;
  position: relative;
  display: none;
}
@media (max-width: 600px) {
  .burger-menu {
    display: flex;
    justify-content: flex-end;
  }
}
.burger-menu a {
  display: block;
  width: 100%;
  height: 100%;
}
.burger-menu .icon-sanwich {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burger-menu .icon-sanwich:hover {
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.burger-menu .dropdown {
  position: absolute;
  width: calc(100vw - 40px);
  top: calc(100% + 20px);
  right: 0;
  text-align: center;
  border-radius: 8px;
  font-family: "TT Norms";
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  display: none;
  z-index: 50;
  background-color: #fff;
  color: #24a3ff;
}
.burger-menu .dropdown .item {
  display: block;
  padding: 5px 20px;
  border-top-color: transparent;
  border-bottom: 2px solid #f5f5fa;
  cursor: pointer;
  color: #24a3ff;
}
.burger-menu .dropdown .item a {
  width: 100%;
  height: 100%;
  display: block;
}
.burger-menu .dropdown .item:hover {
  color: #f0145a;
}

form.writeUs {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 530px;
  margin: 10px;
}
form.writeUs .title {
  display: inline-block;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
form.writeUs .title a {
  font-size: 18px;
  line-height: 18px;
  padding-left: 20px;
}
form.writeUs .title a:hover {
  background-color: #a0a0a0;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
form.writeUs #writeUsName,
form.writeUs #writeUsMessage,
form.writeUs #writeUsPhone,
form.writeUs #writeUsEmail {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  border-color: transparent;
  margin-bottom: 20px;
  font-family: TT Norms;
  font-size: 18px;
  line-height: 26px;
  outline: 0;
  color: #686887;
}
form.writeUs #writeUsName::placeholder,
form.writeUs #writeUsMessage::placeholder,
form.writeUs #writeUsPhone::placeholder,
form.writeUs #writeUsEmail::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-family: "TT Norms";
  font-weight: 400;
  color: #b3b3ba;
}
form.writeUs #writeUsName:hover, form.writeUs #writeUsName:focus,
form.writeUs #writeUsMessage:hover,
form.writeUs #writeUsMessage:focus,
form.writeUs #writeUsPhone:hover,
form.writeUs #writeUsPhone:focus,
form.writeUs #writeUsEmail:hover,
form.writeUs #writeUsEmail:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 2px 0px #b3b3ba;
}

#writeUsMessage {
  height: 180px;
  resize: none;
}

.question {
  padding-left: 30px;
}

#writeUsPhone {
  margin-top: 10px;
}

#writeUsSubmit {
  margin: 0 auto;
  width: 250px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-family: "TT Norms";
  font-weight: 500;
  padding: 10px;
  border-radius: 8px;
  border-color: transparent;
  margin-bottom: 20px;
  font-family: TT Norms;
  font-size: 18px;
  line-height: 26px;
  outline: 0;
}
#writeUsSubmit::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-family: "TT Norms";
  font-weight: 400;
  color: #b3b3ba;
}
#writeUsSubmit:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 2px 0px #b3b3ba;
}

.case-block {
  margin-top: 40px;
  display: grid;
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
  box-sizing: border-box;
  grid-template-columns: 0.305fr 0.1fr 0.325fr 0.1fr 0.42fr;
  grid-template-rows: 0.057fr 0.198fr 0.198fr;
  grid-gap: 2px;
  grid-template-areas: "blok1 blok1 blok2 blok2 blok3" "blok4 blok4 blok2 blok2 blok3" "blok5 blok6 blok6 blok7 blok7";
}
@media (max-width: 1065px) {
  .case-block {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 57px 1fr 1fr 1fr;
    grid-template-areas: "blok1 blok1" "blok2 blok3" "blok4 blok5" "blok6 blok7";
  }
}
@media (max-width: 690px) {
  .case-block {
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "blok1" "blok2" "blok3" "blok4" "blok5" "blok6" "blok7";
  }
}
.case-block div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  background-color: #f5f5fa;
}
.case-block div .paragraph {
  cursor: pointer;
}
.case-block #d1d {
  grid-area: blok1;
  align-self: flex-start;
  border-top-left-radius: 12px;
}
.case-block #d2d {
  grid-area: blok2;
}
.case-block #d3d {
  grid-area: blok3;
  border-top-right-radius: 12px;
}
.case-block #d4d {
  grid-area: blok4;
}
.case-block #d5d {
  grid-area: blok5;
  border-bottom-left-radius: 12px;
}
.case-block #d6d {
  grid-area: blok6;
}
.case-block #d7d {
  grid-area: blok7;
  border-bottom-right-radius: 12px;
}

.publication-wrap {
  position: relative;
  overflow: hidden;
}

.publication-grid {
  padding-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100fr 53, 9fr 15, 3fr 83, 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  grid-template-areas: "p1 p3 p5" "p2 p3 p5" "p2 p4 p5" "p2 p4 p6";
}
@media (max-width: 900px) {
  .publication-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "p3 p2" "p4 p6";
  }
}
@media (max-width: 500px) {
  .publication-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "p3" "p2" "btn";
  }
}
.publication-grid .item1 {
  grid-area: p1;
}
.publication-grid .item2 {
  grid-area: p2;
}
.publication-grid .item3 {
  grid-area: p3;
}
.publication-grid .item4 {
  grid-area: p4;
}
.publication-grid .item5 {
  grid-area: p5;
}
.publication-grid .item6 {
  grid-area: p6;
}
@media (max-width: 900px) {
  .publication-grid .item1,
.publication-grid .item5 {
    display: none;
  }
}
@media (max-width: 900px) {
  .publication-grid .item2 > .white-gradient-line {
    display: none;
  }
}
@media (max-width: 500px) {
  .publication-grid .item4,
.publication-grid .item6 {
    display: none;
  }
}
.publication-grid .img {
  max-width: 100%;
}
.publication-grid #item {
  border-radius: 8px;
  position: relative;
}
.publication-grid #item:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.publication-grid #item .wrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 414px;
}
.publication-grid #item .wrap .date {
  font-size: 12px;
  line-height: 14px;
  font-family: "TT Norms";
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 10px;
}
.publication-grid #item .wrap .line {
  margin-top: 20px;
  height: 4px;
}
.publication-grid #item .wrap p {
  padding-top: 20px;
}

.white-gradient-line {
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 25%, #f5f5fa 75%);
  position: absolute;
  bottom: 0;
}
.white-gradient-line .btn {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  font-family: "TT Norms";
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  left: calc(50% - 125px);
  cursor: pointer;
  z-index: 5000;
  transition: all 0.3s ease;
}
@media (max-width: 900px) {
  .white-gradient-line .btn {
    left: calc(100% - 117px);
  }
}
@media (max-width: 500px) {
  .white-gradient-line .btn {
    left: calc(50% - 125px);
  }
}
.white-gradient-line .btn:hover {
  transition: all 0.3s ease;
  background: rgba(0, 23, 153, 0.6901960784);
  transform: scale(1.05);
}

.btn-one {
  grid-area: btn;
  width: 250px;
  height: 50px;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  font-family: "TT Norms";
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  display: none;
}
@media (max-width: 500px) {
  .btn-one {
    display: flex;
  }
}
.btn-one:hover {
  transition: all 0.3s ease;
  background: rgba(0, 23, 153, 0.6901960784);
  transform: scale(1.05);
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .footer-wrap {
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    align-content: center;
  }
}
@media (max-width: 450px) {
  .footer-wrap {
    align-items: center;
  }
}
.footer-wrap .footer-contacts {
  display: flex;
  flex-direction: column;
}
@media (max-width: 800px) {
  .footer-wrap .footer-contacts {
    flex-direction: column;
    justify-content: center;
  }
}
.footer-wrap .adress-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 450px) {
  .footer-wrap .adress-block {
    flex-direction: column;
    align-content: center;
  }
}
.footer-wrap .adress-block .adress {
  font-size: 16px;
  line-height: 19px;
  font-family: "TT Norms";
  font-weight: 500;
}
.footer-wrap .adress-block .link {
  font-size: 16px;
  line-height: 19px;
  font-family: "TT Norms";
  font-weight: 700;
}
.footer-wrap .phone-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 50px;
}
@media (max-width: 800px) {
  .footer-wrap .phone-block {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 450px) {
  .footer-wrap .phone-block {
    flex-direction: column;
  }
}
.footer-wrap .phone-block .icon-facebook {
  font-size: 38px;
}
@media (max-width: 450px) {
  .footer-wrap .phone-block .icon-facebook {
    margin-top: 20px;
  }
}
.footer-wrap .phone-block .phone {
  font-size: 16px;
  line-height: 19px;
  font-family: "TT Norms";
  font-weight: 500;
}
@media (max-width: 450px) {
  .footer-wrap .phone-block .phone {
    margin-top: 20px;
  }
}
.footer-wrap .phone-block .email {
  font-size: 16px;
  line-height: 19px;
  font-family: "TT Norms";
  font-weight: 700;
}
@media (max-width: 450px) {
  .footer-wrap .phone-block .email {
    margin-top: 20px;
  }
}
.footer-wrap .copyright {
  font-size: 16px;
  line-height: 30px;
  font-family: "TT Norms";
  font-weight: 400;
}
@media (max-width: 800px) {
  .footer-wrap .copyright {
    align-self: center;
  }
}
@media (max-width: 450px) {
  .footer-wrap .copyright {
    text-align: center;
    align-self: center;
    padding: 0 20px;
    padding-top: 20px;
  }
}
.footer-wrap .dot::before {
  content: "•";
  font-size: 30px;
  color: #323264;
  padding: 0 10px;
}
@media (max-width: 450px) {
  .footer-wrap .dot::before {
    display: none;
  }
}

.keyboard {
  background: url("../assets/images/bgKeyboard.png"), linear-gradient(200deg, #323264 40%, #323264 90%, #643e72 98%);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.modify-width {
  max-width: 1100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
main > .icon {
  width: 92px;
  height: 92px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
main .h3 {
  width: 100%;
  padding-top: 20px;
  text-align: left;
}
@media (max-width: 800px) {
  main .h3 {
    padding-left: 20px;
  }
}

.bg-wrap {
  margin-top: 40px;
}

.title-block-publication {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}
@media (max-width: 500px) {
  .title-block-publication .hero {
    font-size: 32px;
    line-height: 38px;
    font-family: "TT Norms";
    font-weight: 700;
  }
}
.title-block-publication .introduction {
  padding-top: 20px;
  text-align: center;
  max-width: 860px;
  padding-bottom: 40px;
}
@media (max-width: 450px) {
  .title-block-publication .introduction {
    padding-bottom: 20px;
  }
}

.bc1 {
  border-color: #fff;
}

.bc3 {
  border-color: #24a3ff;
}

#navservices {
  border-bottom-color: #f0145a;
  color: #f0145a;
}

.burger-menu .dropdown #burgservices {
  color: #f0145a;
}

.askUz {
  margin-top: 40px;
  margin-bottom: 80px;
  width: 250px;
  height: 50px;
}
@media (max-width: 450px) {
  .askUz {
    margin-top: 25px;
    margin-bottom: 35px;
  }
}

.left {
  align-items: flex-start;
}

.string-hr {
  margin: 0;
  margin-top: 80px;
  border: 2px solid #fff;
  width: 100%;
  opacity: 0.5;
}
@media (max-width: 450px) {
  .string-hr {
    margin-top: 30px;
  }
}

.service-list-contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 80px;
}
@media (max-width: 800px) {
  .service-list-contain {
    flex-direction: column;
  }
}
.service-list-contain .service-list {
  max-width: 500px;
  padding-left: 30px;
  padding-top: 20px;
}
@media (max-width: 800px) {
  .service-list-contain .service-list {
    max-width: 100%;
    padding-left: 20px;
  }
}
.service-list-contain .service-list .item {
  padding: 10px 0;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-family: "TT Norms";
  font-weight: 400;
  list-style-type: disc;
  list-style-position: outside;
}
.service-list-contain .service-list .item::marker {
  color: #f0145a;
}

.popup {
  width: 100vw;
  height: 100vh;
  background: #323264e8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5500;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup form.writeUs {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 530px;
  margin: 10px;
}
@media (max-width: 500px) {
  .popup form.writeUs {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}